#AospExtended {
  background: #212121;
}
#aosip {
  background: #ECEFF1;
}
#ArrowOs {
  background: #212121;
}
#BlissRom {
  background: #212121;
}
#bootleggers {
  background: #212121;
}
#ColtOs {
  background: #ECEFF1;
}
#CrDroid {
  background: #ECEFF1;
}
#CypherOs {
  background: #ECEFF1;
}
#Descendant {
  background: #212121;
}
#DirtyUnicorn {
  background: #ECEFF1;
}
#dotOs {
  background: #212121;
}
#FlokoROM {
  background: #212121;
}
#HavocOs {
  background: #ECEFF1;
}
#ionOs {
  background: #ECEFF1;
}
#MokeeRom {
  background: #ECEFF1;
}
#NusantaraProject {
  background: #212121;
}
#PixelDustProject {
  background: #82B1FF;
}
#PixelExperience {
  background: #ECEFF1;
}
#PixelPlusUI {
  background: #ECEFF1;
}
#PixysOs {
  background: #ECEFF1;
}
#PostmarketOs {
  background: #ECEFF1;
}
#SuperiorOs {
  background: #212121;
}
#syberiaOs {
  background: #01579B;
}
#Ubports {
  background: #ECEFF1;
}
#ViperOs {
  background: #212121;
}
#webOSport {
  background: #ECEFF1;
}
#ZenXOs {
  background: #ECEFF1;
}